<section class="section-wrap">
    
    <div class="grid--full text-center"><h2>{{ page_title }}</h2></div>
    

<iframe src="https://cdn.shopify.com/s/files/1/0984/9846/files/Level_Sense_Pro_Manual_Rev_1_1.pdf" style="width:1080px; height:900px;" frameborder="0"></iframe>  

</section>
