<section class="section-wrap">
  <div class="wrapper">
    
    <div class="grid--full text-center"><h2>{{ page_title }}</h2></div>
    
  	<p>For support, please fill out the below form.  You will hear back from us within one business day.</p>
	<hr class="hr--clear hr--small">

    <div class="grid">
			{% include 'support-form' %}
	</div>
  </div>
</section>
