<section class="section-wrap">
    
    <div class="grid--full text-center"><h2>{{ page_title }}</h2></div>
    
  	<p>Installing and setting up your device should be easy.  We have compiled a great library of resources to help simplify and expedite the process.  If you have a question not answered below, please seek support <a href="http://www.level-sense.com/pages/support">here</a>.  Support tickets are answered within 24 hours.</p>
    <hr class="hr--small">
    <hr class="hr--clear hr--small">
    <div class="grid--full text-center"><h2>Instructional Videos</h2></div>
    <hr class="hr--small">
    <hr class="hr--clear hr--small">
	<div class="grid text-center">
      <div class="grid__item post-large--one-half">
        <h3>Getting Started - Installation & Setup</h3>
           <iframe width="320" height="180" src="https://www.youtube.com/embed/mp-my-Fc9NU" frameborder="0" allowfullscreen></iframe>   
      </div>
      <div class="grid__item post-large--one-half">
        <h3>Old Installation</h3>
		   <iframe width="320" height="180" src="https://www.youtube.com/embed/N1xv8OfCrIU" frameborder="0" allowfullscreen></iframe>  
      </div>
    </div>
    <hr class="hr--clear hr--small">
	<hr class="hr--small">
    <hr class="hr--clear hr--small">
    <div class="grid--full text-center"><h2>Frequently Asked Questions</h2></div>
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Device and Portal</a></li>
          <li><a href="#tabs-2">Sensors</a></li>
          <li><a href="#tabs-3">Connecting to Wi-Fi</a></li>
          <li><a href="#tabs-4">Alarms</a></li>
        </ul>
        <div id="tabs-1">
          <div id="accordion">
            
            <h3>Is it easy to install?  How long will it take?</h3>
            <div>Yes!  You only need a small screwdriver your your Wi-Fi credentials.  Plan for 15-30 minutes for installation and setup.</div> 

            <h3>Can I access the user manual online?</h3>
            <div>Yes - <a href="https://cdn.shopify.com/s/files/1/0984/9846/files/Level_Sense_Pro_Manual_Rev_1_1.pdf">Here</a></div>   
            
            <h3>What happens if I lose Wi-Fi?</h3>
            <div>If Wi-Fi is lost, the cloud based watchdog will send a device offline message. The user will then be responsible for manual monitoring until Wi-Fi is restored.  You will receive a device online notification once connection is restored.</div> 

            <h3>What happens if I lose power?</h3>
            <div>If the Wi-Fi network is still up, the Level Sense Pro will keep running on battery.  A power failure alarm will go out.  If the power failure also takes down the Wi-Fi network, you will receive a device offline message from the cloud based watchdog.  You will receive a device online notification once connection is restored.</div> 
            
            
            <h3>Why haven't I received my registration email?</h3>
            <div>You will receive a registration email typically within 1-10 minutes of registering. <br>
                 Some  domains will send this message to a spam folder, please check your spam and mark the message as not spam. <br> <br>
                 MSN, Hotmail, Outlook and other Microsoft based domains do not accept emails from automated alarm systems like Portal.  Please use an alternative such as Gmail, AOL, Yahoo, ME.  If an alternative email is not an option, please <a href="http://www.level-sense.com/pages/support">contact us</a> for assistance (Requires up to 24 hours to setup).  </div>
            
            <h3>Can I use the siren and not the text alerts?</h3>
            <div>Yes - You can set the outputs (relay, siren, messages) for each alarm type (float sensor, leak sensor, temperature, humidity, power failure). So if you want siren and messages on high water and only messages on power faiulure you can do that. </div>

            <h3>Do I need a Wi-Fi Connection?</h3>
            <div>Yes - The system requires a constant connection.</div>

            <h3>How quickly will I get a device offline message?</h3>
            <div>A device offline message is issued after consecutive missed checkins to the cloud watchdog.  This message is issued around 7-8 minutes after going offline.</div>
            
            <h3>Can the device offline threshold be extended?</h3>
            <div>Yes - Please send us a <a href="http://www.level-sense.com/pages/support">support ticket</a>.  We can extend the limit to 30 minutes.</div>

            <h3>What happens if I let my Portal subscription expire?</h3>
            <div>Message based alarms will be disabled.  However, access to Portal and device configurations will still work.  Siren and relay alarms will continue to operate as normal.</div>

            <h3>Can I factory reset my device?</h3>
            <div>Yes - Hold the user button for 10 seconds.  Once all four LEDs turn red, click the user button until all of the LEDs turn off.  Wait 10 seconds are press the reset button</div>

            <h3>Can I see data older than 1 week?</h3>
            <div>No - Data is deleted after one week.</div>
            
            
          </div>
        </div>
        <div id="tabs-2">
          <div id="accordion1">
            
            <h3>Are the temperature & humidity sensors built into the main unit?</h3>
            <div>Yes - The temperature and humidity sensors are inside the main white plastic enclosure. </div>

            <h3>How long are the sensors?</h3>
            <div>Float Switch: 15 feet<br>
            	 Leak Sensor: 6.5 feet<br>
              	 Level Sensor: 7.5 feet</div>
            
            <h3>Can the wire length be extended?</h3>
            <div>In many installations, the leak and float sensor wires can be extended an additional 50 feet.  The level sensor wire length cannot be modified.</div>

            <h3>How do I calibrate the level sensor?</h3>
            <div>After installation, its a good idea to drain the sump pit and then reset the sensor calibration from Portal.  Then, over the next several cycles of the sump pump, the sensor will learn the depth of the pit.  Once this automatic calibration is complete, you will see a graph showing relative water level.</div>

            <h3>Can I use my own sensors?</h3>
            <div>Possibly - You can use most any switch type sensor in place of the leak and float sensors. </div>
            
            <h3>Can the float switch detect low water?</h3>
            <div>Yes - The float and leak sensor can be configured as alarm when 'normally open' or 'normally closed'.  If you want to alarm on low water, change the float switch to alarm when open.</div>
            
            <h3>Does the Power Loss Alarm have a delay?</h3>
            <div>Yes - Power needs to be lost for one minute before the alarm is issued.  Different delays times are available, Please send us a <a href="http://www.level-sense.com/pages/support">support ticket</a> to change the delay.</div>
            
          </div>
        </div>
        <div id="tabs-3">
          <div id="accordion2">
                       

            
            <h3>How do I reset the password?</h3>
            <div>User Manual Section 10: <br> To clear the Wi-Fi credentials from the Level Sense Pro, complete the following password reset steps. Press and hold the user button until all four LEDs turn solid red. If after 10 seconds they have not turned red, release the button for a few seconds and try again. It can take several attempts to get into password reset mode. Once all four LEDs
turn red, click the user button until two LEDs have turned off and two remain lit, usually this requires two button clicks. Wait ten seconds and press the reset button. The password reset is complete.</div>
            
            <h3>What routers are cabable of WPS?</h3>
            <div>Due to the variety of wireless routers, please refer to the specifications of your router to check for WPS (Wi-Fi Protect Setup)</div>

            <h3>How can I change my Wi-Fi connection?</h3>
            <div>Preform a password reset.  Doing a password reset will keep the device assiciated to your Portal account, but allow you to enter new Wi-Fi credentials.</div>

            <h3>What ports does this use?</h3>
            <div>In very rare cases, firewalls can block communication.  Allow communication to ports 80 and 443.</div>
            
          </div>
        </div>
        <div id="tabs-4">
          <div id="accordion3">
            
            <h3>I've trigged an alarm, and the siren sounded, why didn't I receive a text/email alarm?</h3>
            <div>The alarm needs to be maintained long enough for the cloud watchdog to issue the alarm.  If the alarm is temporary, the device will clear the alarm before the cloud watchdog issues the alarm.  Please maintain the alarm state for a minimum of 1 minute.</div>
           
 <!--           <h3>Can I buy direct?</h3>
            <div>Yes - Please <a href="http://www.level-sense.com/pages/become-a-retailer">contact us</a> to setup a wholesale account.</div>  -->
            
            <h3>I just installed the system, why doesn't the siren sound when simulating an alarm?</h3>
            <div>The siren can be disabled.  Its possible an alarm was triggered and the disable switch (user button) was pressed.  Reset the device (bottom right button) and test again.</div>            

            <h3>What are the alarm messages?</h3>
            <div>1) Incoming Power has been lost <br>
            	 2) Leak Sensor has detected water <br>
                 3) Float sensor active<br>
                 4) Temperature alarm (current temperature) <br>
                 5) Humidity alarm (current humidity) <br>
              	 5) Device offline (Plus 3 reminders at 1, 3 and 7 days.) </div>
            
          </div>
        </div>  
      </div>
</section>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
<script>
    $(document).ready(function() {

        // jQuery FUNCTION.
        $("#accordion, #accordion1, #accordion2, #accordion3").accordion({
            heightStyle: "content",
            collapsible: true
        });
    });
    // EXPAND AND COLLAPSE MENUS ON “HEADER CLICK”
    $("#accordion h3").click(function() {
        $("#accordion h3, #accordion1 h3, #accordion2 h3, #accordion3 h3").animate({ 'background-color': '#FFF' }, 300);
        $("#accordion h3, #accordion1 h3, #accordion2 h3, #accordion3 h3").css({ 'color': '#000' });

        // HIGHLIGHT THE SELECTED HEADER (BLOCK)
        $(this).animate({ 'background-color': '#0270bd' }, 300); 
        $(this).css({ 'color': '#FFF' });
    });
</script>