<div id="lightbox-alarm-log">
  <div class="grid edit-content">
  	<div class="grid__item large--one no-pd">
      <!-- Tab panes -->
      <div class="tab-content mt30">
        <div class="grid__item large--one no-pd">
          <div class="Alarm-Logs">
            <h3>Alarm Log</h3>
          </div>
        </div>
        
        <div class="tab-pane fade" id="alarmlogs">
          <div class="grid">

          <div class="log-data">
    			<div class="form-group">
       				<a class="btn btn-primary graph-data-for-today" value='' data-devid="" id="previous">Previous</a>
       				<a class="btn btn-primary graph-data-for-week" value='' data-devid="" id="next">Next</a>  	
    			</div>
            	<input type="hidden" value="" id ='current_page'/>
            	<input type='hidden' value='' id='show_per_page' />
            	<input type='hidden' value='' id='total_pages' />
            	<input type='hidden' value='' id='device_id' />
            	<input type='hidden' value='' id='previous_page' />
            	<input type='hidden' value='' id='next_page' />
          </div>
<!--        <div class="grid__item">
              <div class="form-group">
                <select class="form-control" id = "alarm_log_records">
                  <option value="5" selected="Selected">Show 5 records</option>
                  <option value="15">Show 15 records</option>
                  <option value="25">Show 25 records</option>
                </select>
              </div>
            </div> -->
          </div>

          <div class="grid log-history">
<!--             <div class="grid__item one-half">Time</div>
            <div class="grid__item one-half log-name"><strong>Sun Jan 8 2017 12:25AM</strong></div>
          
            <div class="grid__item one-half">To</div>
            <div class="grid__item one-half wordbreak log-to"><strong>scott@sumpalarm.com</strong></div>
          
            <div class="grid__item">Device "Training Board - From Josh" has come back online</div>
            <div class="grid__item one-half wordbreak log-training"><strong></strong></div>
            
            <div class="grid__item one-half">User</div>
            <div class="grid__item one-half wordbreak log-user">140</div>
            
            <div class="grid__item one-half">Device</div>
            <div class="grid__item one-half wordbreak log-device">857</div> -->
          </div>
          <div id='page_navigation'></div>

          
        </div>
      </div>  
    </div>
  </div>
</div>
