<div class="grid">
  
  <h4>
    <a href="#lightbox-claimdevice" class="btn btn-primary claim-device device-btn">Claim Device</a>
    <a href="#lightbox-notifypopup" class="btn btn-primary notify-popup device-btn">Notifications</a>
    <a href="#personal-information" class="btn btn-primary personal-info device-btn">Personal Information</a>
  </h4>
  <div class=" table-responsive">	
    <table class="table table-bordered list-devices">
      <thead>
        <tr>
          <th colspan="1">DEVICE NAME</th>
          <th colspan="1">DEVICE INFO</th>
          <th colspan="1">ALARM SETTINGS</th>
          <th colspan="1">DELETE DEVICE</th>
          <th colspan="1">VIEW CHARTS</th>
          <th colspan="1">ALARM LOGS</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>  
</div>

<script type='text/javascript'>
$(document).ready(function() {
  Tipped.create('.tool-tip');
});
</script>