<section class="section_H">
  <div class="wrapper">

    <div class="grid--full text-center">
      <h2>Robust Sensor Solutions</h2>
      <p>Level Sense products are designed and manufactured in the USA. Quality is our standard.</p>
	</div>
    
    <div class="grid--full section_H_flex">

        <div class="grid__item large--one-half medium--one-half small--one-whole small--text-center section_H_border1">
          <a href="//www.amazon.com/Level-Sense-Pro-Temperature-Historical/dp/B01A3OQG3C">  
          <div class="grid__item three-tenths small--one-whole">
              <img src="{{ 'section_8.png' | asset_url }}">
            </div>
            <div class="grid__item seven-tenths small--one-whole">
              <h4>Level Sense Pro</h4>
              <p>Wi-Fi Sump Pump & Environmental Monitor<br/>
                <span>Now Available at</span><br/>
                <img class="amazon" src="{{ 'section_8_1.png' | asset_url }}">
			  </p>
            </div>
            </a>
        </div>
      
      	<div class="grid__item large--one-half medium--one-half small--one-whole small--text-center section_H_border2">
          <a href="/collections/level-sense-accessories">  
          <div class="grid__item three-tenths small--one-whole">
              <img src="{{ 'section_8_1.jpg' | asset_url }}"/>
            </div>
            <div class="grid__item seven-tenths small--one-whole">
              <h4>Accessories</h4>
              <p>Increase Functionality<br/><br/><br/>
                <h6>VIEW MORE <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </h6>
              </p>
            </div>
          </a>
        </div>
    
    </div>
    
  </div>
</section>
