<section class="section_i">
  <div class="wrapper">

    <div class="grid--full text-center">
      <h2>Why pick Level Sense Pro vs. the other guys?</h2>
    </div>
    <hr class="hr--clear hr--small">

    <table id="table">
    <thead>
      <tr>
        <th>Features</th>
        <th>Level Sense Pro</th>
        <th>The Other Guys</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Unit Cost / Service Fee</td>
        <td>$149.95 / $9.95/Yr</td>
		<td>$219.95 / $49.95/Yr</td>
      </tr>
      <tr>
        <td>Cost to Own: 5-Year / 10-Year</td>
        <td>$179.80 / $229.55</td>
        <td>$469.70 / $719.45</td>
      </tr>
      
      <tr>
        <td>Initial Service Period</td>
        <td>2 years included FREE</td>
        <td>None Included</td>
      </tr>
      
      <tr>
        <td>Temprature Sensor / Alarm</td>
        <td>Included / Configurable</td>
        <td>$30 additional / Fixed</td>
      </tr>
      <tr>
        <td>Humidity sensor / Alarm</td>
        <td>Included / Configurable</td>
        <td>Not offered</td>
      </tr>
      <tr>
        <td>Battery Life / Charger</td>
        <td>Years / Integrated</td>
        <td>Months / Not offered</td>
      </tr>
      <tr>
        <td>Historical Data & Alarm Log</td>
        <td>7 Days / 45 Alarms</td>
        <td>Not offered</td>
      </tr>
      <tr>
        <td>Configure device online</td>
        <td>Configure yor device online</td>
        <td>Complicated text message commands</td>
      </tr>
      <tr>
        <td>Power Failure & Offline Notification</td>
        <td>99.8% Uptime cloud watchdog</td>
        <td>Device</td>
      </tr>
      <tr>
        <td>Available Sensors</td>
        <td>Water, Leak, 3rd party swith type</td>
        <td>Water, Leak</td>
      </tr>
      <tr>
        <td>Alarm Contacts /Format</td>
        <td>Unlimited / Text or email</td>
        <td>3 maximum / text only</td>
      </tr>
    </tbody>
  </table>
  </div>
</section>
