<section class="section_j">
  <div class="wrapper">
<hr class="hr--clear hr--small"><hr class="hr--clear hr--small">
    <div class="grid--full text-center">
      <h2>Text Message Alarms</h2>
      <p> Alarms delivered directly to your cell phone. Each alarm type sends a custom message.<br/>
 		  Receive an alarm when the alarm occurs and once it has been resolved.</p>
	</div>
    <hr class="hr--clear hr--small">
 
    <div class="grid--full text-center">
     <div class="grid__item post-large--one-half medium--one-half small--one-whole"> 
       <img src="{{ 'section_j_1.jpg' | asset_url }}"/>
     </div>
     <div class="grid__item post-large--one-half medium--one-half small--one-whole"> 
       <img src="{{ 'section_j_2.jpg' | asset_url }}"/>
     </div>
    </div>
    
  </div>
</section>