<section class="section_F">
  <div class="wrapper">
   {%comment%} {% include 'featured-products' %}{%endcomment%}
   <div class="grid--full text-center"><h2>Sensors</h2></div>
      <hr class="hr--clear hr--small">
    <div class="grid-uniform">
      <div class="grid__item medium-down--one-half post-large--one-quarter">
        <a href="/products/pro1" class="grid-link">
          <span class="grid-link__image grid-link__image--product">
            <span class="grid-link__image-centered  section_border ">
              <img src="{{'Floor_Water_Leak_Sensor.png' |asset_url}}" alt="Floor Water Leak Sensor">
            </span>
          </span>
          <p class="grid-link__title text-center">Floor Water Leak Sensor</p>
          </a>
          <p class="grid-link__meta">
            Detect pooling water from a leak before major damage occurs.  
          </p>
      </div>
      <div class="grid__item medium-down--one-half post-large--one-quarter">
        <a href="/products/clamp-on-float-switch" class="grid-link">
          <span class="grid-link__image grid-link__image--product">
            <span class="grid-link__image-centered  section_border ">
              <img src="{{'Clamp_on_Float_Switch.png' | asset_url}}" alt="Clamp on Float Switch">
            </span>
          </span>
          <p class="grid-link__title text-center">Clamp on Float Switch</p>
          </a>
          <p class="grid-link__meta">
            Detect high water with this easy to install float switch and mounting hardware.
          </p>
      </div>
      <div class="grid__item medium-down--one-half post-large--one-quarter">
        <a href="/products/sensor-wire" class="grid-link">
          <span class="grid-link__image grid-link__image--product">
            <span class="grid-link__image-centered  section_border ">
              <img src="{{'Sensor_Wire.png' | asset_url}}" alt="Sensor Wire">
            </span>
          </span>
          <p class="grid-link__title text-center">Sensor Wire</p>
          </a>
          <p class="grid-link__meta">
            Optional sensor wire provides water level indication to determine run frequency.
          </p>
      </div>
      <div class="grid__item medium-down--one-half post-large--one-quarter">
        <a href="/products/level-sense-pro" class="grid-link">
          <span class="grid-link__image grid-link__image--product">
            <span class="grid-link__image-centered  section_border ">
              <img src="{{'Internal_Sensors.png' |asset_url}}" alt="Internal Sensors">
            </span>
          </span>
          <p class="grid-link__title text-center">Level-Sense Pro</p>
          </a>
          <p class="grid-link__meta">
            Built in temperature, humidity and power failure sensors.
          </p>
      </div>
	</div>
  </div>
</section>